body{
    padding: 0;
    margin: 0;
    background-color: #747474;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.one{
    background-image: url("../img/dave-PDfe7H5GJR0-unsplash.jpg");
}
.two{
    background-image: url("../img/mountains.png");
}
.layer-container{
    position: relative;
    height: 100vh;
    width: 100%;
    transform-style: preserve-3d;
}

.layer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.parallax-text{
    font-size: 150px;
    color: #ffffff;
    position: absolute;
    font-family: sans-serif;
    letter-spacing: 15px;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-20%);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

nav{
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 40px 5%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo{
    color: #ffffff;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 30px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px;
    outline: none;
}

button:active{
    transform: scale(1.1);
}

.category-container{
    height: 50vh;
    color: white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1,h4{
    font-family: Calibri;
    line-height: 10px;
}

.header h4{
    font-size: 16px;
    letter-spacing: 10px;
    opacity: 0.9;
}

.product-container{
    display:flex ;
    justify-content: center;
}

.box-1,.box-2,.box-3{
    width: 300px;
    height: 400px;
    margin: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box-1{
    background-image: url('../img/2.png');
}

.box-2{
    background-image: url('../img/3.jpg');
}

.box-3{
    background-image: url('../img/paris-1080x1920-france-europe-5k-19437.jpg');
}

.box-1 font,.box-2 font,.box-3 font{
    position: absolute;
    bottom: 0px;
    color: #fcfcfc;
    letter-spacing: 10px;
    height: 30px;
    text-align: center;
    background: linear-gradient(0deg,#151515 0%,transparent);
    width: 100%;
}

.line{
    align-self: end;
    width: 50%;
    border-right: 1px solid #ffffff;
    height: 20%;
    margin-bottom: 4em;
    position: absolute;
    bottom: 5px;
}

.line:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color:#ffffff transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}

.footer{
    position: absolute;
    bottom: 0px;
    color: white;
}